###
### .dockerignore for $name$ project
###

# ================================================================================
# OS X
# ================================================================================

._*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
.apdisk
Icon
Temporary Items


# ================================================================================
# Linux
# ================================================================================

*~
.directory


# ================================================================================
# Windows
# ================================================================================

\$RECYCLE.BIN/
*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db


# ================================================================================
# Gradle
# ================================================================================

.gradle/
build/
local.properties


# ================================================================================
# IntelliJ
# ================================================================================

.idea/
*.iml
*.ipr
*.iws
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


# ================================================================================
# Vagrant
# ================================================================================

.vagrant.d/


# ================================================================================
# gprdb
# ================================================================================

/application.yml
